.App select {
  display: inline-block;
  margin-right: 5px;
}
.App textarea {
  width: 90%;
  height: 90%;
}

.App {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

.App .column {
  display: inline-block;
  max-width: 33%;
  flex: 1;
  height: 100vh;
  vertical-align: top;
  margin: 0;
  overflow-y: scroll;
}

.audio-spec {
  border-left: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}

.logo {
  /* font-family: 'Knewave', cursive; */
  /* font-size: 72px; */
  /* line-height: 1em; */
  position: fixed;
  right: 0;
  top: 0;
  margin: 0px 10px;
}

.logo img {
  height: 50px;
}

#pred-out {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid black;
}