.App select {
  display: inline-block;
  margin-right: 5px;
}
.App textarea {
  width: 90%;
  height: 90%;
}

.App {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

.App .column {
  display: inline-block;
  flex: 1;
  height: 100vh;
  vertical-align: top;
  margin: 0;
  padding: 15px;
  overflow-y: scroll;
}

.audio-spec {
  border-left: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}

.uw-editor h3.je-header {
  font-size: medium;
  margin: 0;
}

.uw-editor[data-theme="html"] [data-schemapath="root"] > .je-indented-panel {
  border: none;
  padding-left: 0;
}

.uw-editor[data-theme="html"] .je-indented-panel {
  border: none;
  border-left: 1px solid #ccc;
  border-radius: 0;
  margin-left: 0;
  padding: 0;
  padding-left: 10px;
  margin-bottom: 60px;
}

.uw-editor[data-theme="html"] p.je-form-input-label {
  font-weight: normal;
  font-size: 10px;
}

.logo {
  /* font-family: 'Knewave', cursive; */
  /* font-size: 72px; */
  /* line-height: 1em; */
  position: fixed;
  right: 0;
  top: 0;
  margin: 0px 10px;
}

.logo img {
  height: 50px;
}

#pred-out {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid black;
}